
	<%- contentFor('main') %>
	<!--Preloader area starts -->
	<div class="loader" id="loader"> &nbsp;</div>
	<!--Preloader area ends -->
	<div id="wraper"> <a href="#" class="smallimg" id="smallimg">Back</a>
		<!--Top Headerbar area starts -->
		<div id="top-bar">
			<h1 class="logo">
                <a href="index.html">Kreative</a></h1> <a class="mobilemenu">View Menu</a> <a class="bt-menu-trigger" id="menu" onclick="landingpagecube();" href="#"><span>Menu</span></a> </div>
		<nav id="menumobile">
			<ul>
				<li><a href="#" onclick="thumbnailscube();">LIFESTYLE</a> </li>
				<li><a href="#" onclick="blogcube()">TRAVEL</a> </li>
				<li><a href="#" onclick="teamcube()">MUSIC</a> </li>
				<li><a href="#" onclick="aboutcube();">ABOUT</a> </li>
				<li><a href="#" onclick="contactcube();">CONTACT</a> </li>
			</ul>
			<div class="footer">
				<ul class="socialpost">
					<li><a class="" href="#"><i class="fa fa-google"></i></a> </li>
					<li><a class="" href="#"><i class="fa fa-twitter"></i></a> </li>
					<li><a class="" href="#"><i class="fa fa-behance"></i></a> </li>
				</ul>
				<div class="touch">© 2015 All Rights Reserved.</div>
			</div>
		</nav>
		<!--Top Headerbar area ends -->
		<!--Landing Page Us page area ends -->
		<div id="landingpage" class="pt-page">
			<div class="overlay">
				<nav id="menu">
					<ul>
						<li><a href="#" onclick="thumbnailscube();">LIFESTYLE</a> </li>
						<li><a href="#" onclick="blogcube()">TRAVEL</a> </li>
						<li><a href="#" onclick="teamcube()">MUSIC</a> </li>
						<li><a href="#" onclick="aboutcube();">ABOUT</a> </li>
						<li><a href="#" onclick="contactcube();">CONTACT</a> </li>
					</ul>
				</nav>
			</div>
			<div class="footer-box">
				<div class="col-xs-12 col-sm-6">
					<ul class="socialpost">
						<li><a class="" href="#"><i class="fa fa-google"></i></a> </li>
						<li><a class="" href="#"><i class="fa fa-twitter"></i></a> </li>
						<li><a class="" href="#"><i class="fa fa-behance"></i></a> </li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="touch">All Rights Reserved. Designed and Developed by <a href="#" class="link"><b>Themeify.com</b></a> </div>
					<div id="hello"></div>
				</div>
			</div>
		</div>
		<!--Landing page area ends -->
		<!--Main Home page area starts -->
		<div id="thumbnails" class="pt-page  pt-page-current">
			<div class="scalediv">
				<div class="row no-gutter" data-id="one">
					<% if (messages) { %>
						<p class="error"><%= messages %></p>
					<% } %>

					<% for(var i =0; i < posts.length; i++) {%>
						<% include ./partials/index/blog_collection.ejs %>
					<%}%>
					<div class="clear"></div>
				</div>
			</div>
			<!-- Posts page area starts -->
			<div class="posts"> <a class="back">Back</a>
				<aside> <a class="previous">Previous</a>
					<div class="postimagearea">
						<div class="postimage" style="background-image: URL(images/postimage9.jpg);"></div>
						<div class="postimage" style="background-image: URL(images/postimage8.jpg);"></div>
						<div class="postimage" style="background-image: URL(images/postimage7.jpg);"></div>
						<div class="postimage" style="background-image: URL(images/postimage6.jpg);"></div>
						<div class="postimage" style="background-image: URL(images/postimage4.jpg);"></div>
						<div class="postimage" style="background-image: URL(images/postimage3.jpg);"></div>
						<div class="postimage" style="background-image: URL(images/postimage2.jpg);"></div>
						<div class="postimage" style="background-image: URL(images/postimage1.jpg);"></div>
					</div>
				</aside>
				<section> <a class="next">Next</a>
					<div class="contentRight">
						<div class="postcontentarea">



							<!-- start post -->
							<% for(var i = 0; i < posts.length; i++) {%>
								<% include ./partials/index/post_view.ejs %>
							<%}%>
							<!-- end post  -->

						</div>
					</div>
				</section>
			</div>
			<!-- Posts page area ends -->
		</div>
		<!--Blog page area ends -->
	</div>
	<!--insta sidebar -->
	<div class="slideout"> <img src="images/Instagram.png" alt="Feedback" />
		<div class="slideout_inner">
			<div id="feedframe">
				<div id="instafeed"> </div>
			</div>
		</div>
	</div>
	<!--end insta sidebar -->


	<script>

		$('form#commentForm').submit(function(event){
			event.preventDefault()

			var params = {}

			$.each($(this).serializeArray(), function(idx, field){
				params[field.name] = field.value
			})

			console.log(params);

			$.post('/comments/create', params, function(comment){

			})

		})
	</script>

	<script src="/js/mainEntry.js"></script>
