<h1>NEW FUCKIN POST</h1>
<form class="" action="/admin/create_post" method="post">
  <input name="author" placeholder="author"></input>
  <input name="title" placeholder="title"></input>
  <input name="body" placeholder="body"></input>
  <button>Submit</button>
</form>
