<h1>NEW FUCKIN POST</h1>
<form class="" action="/admin/create_post" method="post">
  <input name="author" placeholder="author"></input>
  <input name="title" placeholder="title"></input>
  <input name="body" placeholder="body"></input>
  <input type="file" name="image" id="image"></input>
  <img id="preview" />
  <button>Submit</button>
</form>

<script>
function upload(file, signed_request, url, done) {
  var xhr = new XMLHttpRequest()
  xhr.open("PUT", signed_request)
  xhr.setRequestHeader('x-amz-acl', 'public-read')
  xhr.onload = function() {
    if (xhr.status === 200) {
      done()
    }
  }

  xhr.send(file)
}

function sign_request(file, done) {
  var xhr = new XMLHttpRequest()
  xhr.open("GET", "/admin/upload_photo?file_name=" + file.name + "&file_type=" + file.type)

  xhr.onreadystatechange = function() {
    if(xhr.readyState === 4 && xhr.status === 200) {
      var response = JSON.parse(xhr.responseText)
      done(response)
    }
  }

  xhr.send()
}

document.getElementById("image").onchange = function() {
  console.log('updating shit');
  var file = document.getElementById("image").files[0]
  console.log('file');
  console.log(file);
  if (!file) return

  sign_request(file, function(response) {
    console.log("HERES THE RESPONSE!!!!!!");
    console.log(response);
    upload(file, response.signed_request, response.url, function() {
      document.getElementById("preview").src = response.url
      // document.getElementById("preview").src = 'https://foodblogchrisandwendy.s3.amazonaws.com' + '/' + file.name
    })
  })
}
</script>
