<html>
<head>
       <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0, ma
ximum-scale=1.0, user-scalable=no">
       <meta name="apple-mobile-web-app-capable" content="yes" />
       <title>NUNU :: PERSONAL BLOG</title>

       <!--Font Files-->
       <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel
='stylesheet' type='text/css'>
       <link href='http://fonts.googleapis.com/css?family=SourceSansPro:400,2
00,200italic,300,300italic,400italic,600,600italic,700italic,900italic,900,700'
rel='stylesheet' type='text/css'>
       <link href='http://fonts.googleapis.com/css?family=Merriweather:400,400i
talic,300italic,300,700,700italic,900,900italic' rel='stylesheet' type='text/css
'>
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesom
e/4.4.0/css/font-awesome.min.css">
       <link href='https://fonts.googleapis.com/css?family=Raleway:400,500,600,
700,300' rel='stylesheet' type='text/css'>
       <link href='https://fonts.googleapis.com/css?family=PlayfairDisplay:400
,400italic,700italic,700' rel='stylesheet' type='text/css'>
       <!--Font Files End-->

       <!--[if lt IE 9]>
               <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"
></script>
       <![endif]-->

       <!-- inject:css -->
       <link rel="stylesheet" href="/vendor/css/animations.css">
       <link rel="stylesheet" href="/vendor/css/bootstrap.css">
       <link rel="stylesheet" href="/vendor/css/instaslide.css">
       <link rel="stylesheet" href="/vendor/css/lightbox.css">
       <link rel="stylesheet" href="/vendor/css/simplyscroll.css">
       <link rel="stylesheet" href="/vendor/css/style.css">
       <!-- endinject -->

</head>

<body>

  <%- main %>

       <!-- inject:js -->

       <script src="/vendor/js/jquery-1.11.3.js"></script>

       <script src="/vendor/js/instafeed.min.js"></script>

       <script src="/vendor/js/initializer.js"></script>

       <script src="/vendor/js/jquery.simplyscroll.js"></script>

       <script src="/vendor/js/jquery.scrollTo.min.js"></script>

       <script src="/vendor/js/lightbox.js"></script>

       <script src="/vendor/js/custom.js"></script>

       <!-- endinject -->
</body>
